@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unna:wght@700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
	font-family: 'Merriweather', serif;
	justify-content: center;
	scroll-behavior: smooth;


}

body
{
	min-height: 1000px;
	/* Untuk cara ngeubah warna yang putih tadi aku taruh disini gradientnya */
	/*background: linear-gradient(45deg, #C42A03, #420C12);*/
	background: linear-gradient(to top, #8B0000, #240001);
	display: flex;
	/* Ditambahin */
	flex-direction: column; 
}

body::before
{
	content: 'East Java Culture';
	position: fixed;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 5em;
	font-weight: 700;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	font-family: 'Unna', serif;;
	z-index: -1;
}

header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 0 100px;
	background: black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: 1s;
	z-index: 3;
}

header.sticky
{
	height: 80px;
}

header .bg
{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 1s;
}

header.sticky .bg
{
	opacity: 0,5;
}

header .logo
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 5vw;
	color: white;
	font-weight: 700;
	transition: 1s;
	text-decoration: none;
	z-index: 1;
}

header.sticky .logo
{
	position: absolute;
	font-size: 2em;
	left: 100px;
	transform: translate(0,-50%);
}

nav 
{
	position: relative;
	display: flex;
	z-index: 1;
}

nav ul 
{
	position: relative;
	display: flex;
	transition: 0.25s;
	transform: translateX(100px);
	opacity: 0;
}

header.sticky nav ul
{
	transform: translateX(0);
	opacity: 1;
	transition-delay: 0.75s;
}


nav ul li
{
	list-style: none;
}

nav ul li a 
{
	color: white;
	display: inline-block;
	padding: 10px 15px;
	font-size: 1.2em;
	text-decoration: none;
}

nav ul li a:hover
{
	color: #EE0B14
}

section 
{
	margin-top: 15vh;
	padding: 100px;
	overflow-x: hidden;
	margin-left: -6.5%;

}


.teks h2
{
	color: white;
	position: relative;
	text-align: center;
	margin-left: 10%;
	

}

.teks p
{
	color: white;
	align-items: right;
	margin-left: 40%;
	margin-top: 3%;
	background-image: url(6.png);
	background-repeat: no-repeat;
	padding:20px 20px;
	font-size: 1em;
	text-align: justify;

}

.teks hr 
{
	width: 30%;
  	border: 1px, solid white;
  	text-align: center;
 	display: inline-block;
 	margin-left: 40%;
}

.belakang 
{
	position: relative;
	width: 180px;
	height: 320px;
	margin-top: -380px;
	background: rgba(0, 0, 0, .1);
	transform: rotate(-30deg) skew(25deg) scale(.8);
	transition: 0.5s;
	margin-left: 15%;
	margin-bottom: 10%;
}

.belakang img
{
	position: absolute;
	width: 100%;
	transition: 0.5s;
}

.belakang:hover img:nth-child(4)
{
	transform: translate(160px,-160px);
	opacity: 1;
}

.belakang:hover img:nth-child(3)
{
	transform: translate(120px,-120px);
	opacity: .8;
}

.belakang:hover img:nth-child(2)
{
	transform: translate(80px,-80px);
	opacity: .6;
}

.belakang:hover img:nth-child(1)
{
	transform: translate(40px,-40px);
	opacity: .4;
}


.kontenwer
{
	position: relative;
	width: 1100px;
	display: flex;
	flex-wrap: wrap;
	transform-style: preserve-3d;
	perspective: 300px;
	padding: 0;
	margin-left: 10%;
	margin-top: 20%;

}

.kontenwer .boxc
{
	position: relative;
	width: 200px;
	height: 200px;
	background: #000;
	transform-style: preserve-3d;
	overflow: hidden;
}

.kontenwer:hover .boxc
{
	transform: rotateY(25deg);
}

.kontenwer .boxc:hover ~ .boxc 
{
	transform: rotateY(-25deg);
}

.kontenwer .boxc:hover
{
	transform: rotateY(0deg) scale(1.25);
	z-index: 1;
	box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}


.kontenwer .boxc .imgboc
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: space-between;
}

.kontenwer .boxc .imgboc:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg,#555,#000);
	z-index: 1;
	opacity: 0;
	transition: 0.5s;
	mix-blend-mode: multiply;
}

.kontenwer .boxc:hover .imgboc:before
{
	opacity: 1;
}

.kontenwer .boxc .imgboc.active
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.kontenwer .boxc .imgboc img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.kontenwer .boxc .kontwen
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	padding: 20px;
	align-items: flex-end;
	box-sizing: border-box;
}

.kontenwer .boxc .kontwen h2
{
	color: white;
	transition: 0.5s;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-size: 15px;
	transform: translateY(200px);
	text-decoration: none;
	display: inline-block;

}

.kontenwer .boxc .kontwen h2 a 
{
	color: white;
	transition: 0.5s;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-size: 15px;
	transform: translateY(200px);
	text-decoration: none;
	display: inline-block;
}

.kontenwer .boxc:hover .kontwen h2
{
	transform: translateY(0px);
	transition-delay: 0.3s;
}

.kontenwer .boxc:hover .kontwen h2 a
{
	transform: translateY(0px);
	transition-delay: 0.3s;
}

.kontenwer .boxc .kontwen p 
{
	color: white;
	transition: 0.5s;
	font-size: 12px;
	transform: translateY(200px);
}

.kontenwer .boxc:hover .kontwen p
{
	transform: translateY(0px);
	transition-delay: 0.4s;
}

footer
{
	position: relative;
	width: 98.5vw;
	background: #350404;
	min-height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20%;
	box-sizing: border-box;
	top: 100px;
	
}

footer .sicon
{
	position: relative;
	/* position: fixed; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* justify-content: left;
	align-items: left; */
	margin: 10px 0;
	font-size: 1em;
	flex-wrap: wrap;
}

footer .menu  
{
	position: relative;
	/* position: fixed; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* justify-content: left;
	align-items: left; */
	margin: 10px 0;
	font-size: 9px;
	flex-wrap: wrap;

}
footer .sicon li,
footer .menu li 
{
	list-style: none;
	color: white;
}

footer .sicon li a 
{
	font-size: 2em;
	color: white;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
}

footer .sicon li a:hover
{
	transform: translateY(-10px);
}

footer .menu li a 
{
	font-size: 2em;
	color: white;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
	text-decoration: none;
	opacity: 0.5s;
}

footer .menu li a:hover 
{
	opacity: 1;
}

footer p
{
	color: white;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 1.1em;
}

footer .wave
{
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(wave.png);
	background-size: 1000px 100px;
}

footer .wave#wave1
{
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animateWave 4s linear infinite;
}

footer .wave#wave2
{
	z-index: 999;
	opacity: 0.5;
	bottom: 10px;
	animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3
{
	z-index: 1000;
	opacity: 0.2;
	bottom: 15px;
	animation: animateWave 3s linear infinite;
}

footer .wave#wave4
{
	z-index: 999;
	opacity: 0.7;
	bottom: 20px;
	animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave
{
	0%
	{
		background-position-x: 1000px;
	}
	100%
	{
		background-position-x: 0px;
	}
}

@keyframes animateWave_02
{
	0%
	{
		background-position-x: 0px;
	}
	100%
	{
		background-position-x: 1000px;
	}
}

































































































/*
@media (max-width: 991px)
{
	section,
	header
	{
		padding: 40px;
	}
	section h2
	{
		font-size: 2em;
	}
	header.sticky .logo
	{
		left: 40px;
	}
	header.sticky .bg
	{
		opacity: 0;
	}
	nav ul
	{
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	header.sticky .toggle
	{
		position: fixed;
		top: 15px;
		right: 40px;
		width: 50px;
		height: 50px;
		cursor: pointer;
		background: white;
	}
}*/